$body-color: #ffffff;
$color50: #FEF4FE;
$color100: #FCE7FC;
$color200: #F9CFFA;
$color300: #F7B8F7;
$color400: #F4A0F5;
$color500: #F188F2;
$color600: #B566B6;
$color700: #794479;
$color800: #3C223D;
$color900: #180E18;
